/* colors palette */

:root{
    --primary-text-color: #21243D;
    --accent-color:#FF6464;
    --background-color:#fff;
    --secondary-text-color:#000;
    --posts-section-bg: #EDF7FA;
    --view-btn-color:#00A8CC;
    --works-dates-bgc-color:#142850;
    --works-type-color:#8695A4;
    --works-line-color :#E0E0E0;

    --fw-extra-bold: 900;
    --fw-bold: 700;
    --fw-medium: 500;

    --fs-large:44px;
    --fs-medium:30px;

}

body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.container .nav-container:nth-child(2){
    color:teal;
}
.container{
    width: 1200px;
    padding: 0 15px;

    margin-left: auto;
    margin-right: auto;
}

.header-section{
    padding-top: 27px;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item:not(:first-child){
    margin-left: 33px;
}

/* header-section styles */
.nav-item, .header-item{
    color:var(--secondary-text-color);
    height: 30px;
}

.nav-item,
.header-item, .hero-btn {
    font-weight: var(--fw-medium);
}
.nav-item,
.header-item,
.hero-btn, 
.works-item-class,
.blog-item-date,
.blog-item-theme {
    font-size: 20px;
    line-height: 1.47;
}
.nav-item:hover, .nav-item:focus{
    color: var(--accent-color);
}
.header-item:hover, .header-item:focus{
    color: var(--accent-color);
}

.hero-wrapper{
    padding-top: 140px;
    padding-bottom: 71px;
}

.hero-main-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-right: 100px;
}

.hero-title{
    width: 446px;
}

.hero-text{
    margin-top: 40px;
    width: 497px;
}


.hero-title, .blog-title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
    line-height: 1.36;
}

/* section hero */
.hero-btn{
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 2px;
    color: var(--background-color);
    background-color: var(--accent-color);
}


/* section-posts */
.post-container{
    padding-top: 27px;
    padding-bottom: 32px;
    background-color: var(--posts-section-bg);
}
.post-header{
    display: flex;
    justify-content: space-between;
}
.post-list{
    display: flex;
    align-items: center;
    margin-left: -20px;
    margin-top: 20px;
}
.post-title, .works-title{
    font-size: 22px;
    line-height: 2.73;
}
.post-btn{
    background: transparent;
    outline: none;
    cursor: pointer;
    color: var(--view-btn-color);
}
.post-item{
    flex-basis: calc(100% / 2 - 20px);
    padding: 23px;
    margin-left: 20px;
    background-color: var(--background-color);
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}
/* .post-item:not(:first-child) {
        margin-left: 20px;
} */
.post-item-title{
    font-weight: var(--fw-bold);
    font-size: 26px;
    line-height: 1.46;
}
.post-item-wrapper{
    margin-top: 17px;
    font-size: 18px;
    line-height: 1.44;
}
.post-item-date{
    padding-right: 31px;
    border-right: 1px solid #000;

}
.post-item-theme{
    margin-left: 26px;
}
.post-item-text{
    margin-top: 11px;
}

/* works section */
.works-list{
    margin-top: 22px;
}
.works-item,{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}
.works-item:not(:first-child) {
    margin-top: 30px;
}
.works-item-main{
    margin-left: 18px;
}
.works-item-class, .blog-item-theme{
    color: var(--works-type-color);
}
.works-item-info, .works-item-text,.blog-item-text{
    margin-top: 16px;
}

.works-item-date{
    padding: 5px 10.5px;
    border-radius: 16px;
    background-color:var(--works-dates-bgc-color);
    color: var(--background-color);
    font-weight: var(--fw-extra-bold);
    font-size: 18px;
    line-height: 3.33;
}
.works-item-class{
    margin-left: 26px;
}
.works-item-title{
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
    line-height: 1.46;
}

/* footer section */

.footer-section{
    padding-top: 134px;
    padding-bottom: 54px;
}

.footer-link:hover .footer-icon,
.footer-link:focus .footer-icon{
    fill: var(--accent-color);
    cursor: pointer;
}

.footer-title{
    margin-top: 26px;
    font-size: 14px;
    padding-left: 400px;
}

.footer-list{
    display: flex;
    column-gap: 35px;
    justify-content: center;
}

/* Blog page styles */
.blog-footer-item-link:hover .blog-footer-icon,
.blog-footer-item-link:focus .blog-footer-icon {
    fill: var(--accent-color);
    cursor: pointer;
}

.blog-header-section{
    padding-top: 25px;
}

.header-item:first-child {
    color: var(--accent-color);
}

.header-list{
    display: flex;
    justify-content: end;
}

.header-item:not(:first-child){
    margin-left: 37px;
}

.main-blog-section{
    padding-top: 106px;
}

.blog-list{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.blog-item-title{
    font-weight: var(--fw-medium);
    font-size: 30px;
    line-height: 1.46;
}

.blog-item{
    width: 900px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}

.blog-item-wrapper{
    margin-top: 6px;
}

.blog-item-date{
    padding-right: 26.5px;
    border-right: 1px solid #000000;
}

.blog-item-theme{
    margin-left: 21px;
}

.blog-footer-list{
    display: flex;
    padding-left: 400px;
}

.blog-footer-item:not(:first-child){
    margin-left: 35px;
}

.blog-footer-section{
    padding-top: 104px;
}