/* colors palette */
:root{
    --primary-text-color: #21243D;
    --accent-color:#FF6464;
    --background-color:#fff;
    --secondary-text-color:#000;
    --posts-section-bg: #EDF7FA;
    --view-btn-color:#00A8CC;
    --works-dates-bgc-color:#142850;
    --works-type-color:#8695A4;
    --works-line-color :#E0E0E0;
}

body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

/* header-section styles */
.nav-item{
    color:var(--secondary-text-color);
}
.nav-item:hover, .nav-item:focus{
    color: var(--accent-color);
}

/* section hero */
.hero-btn{
    color: var(--background-color);
    background-color: var(--accent-color);
}


/* section-posts */
.post-container{
    background-color: var(--posts-section-bg);
}

.post-btn{
    color: var(--view-btn-color);
}
.post-item{
    background-color: var(--background-color);
}

/* works section */

.works-item-class{
    color: var(--works-type-color);
}

.works-item-date{
    background-color:var(--works-dates-bgc-color);
    color: var(--background-color);
}

/* footer section */

.footer-link:hover .footer-icon,
.footer-link:focus .footer-icon{
    fill: var(--accent-color);
    cursor: pointer;
}